body{
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;

}

.clearfix:after{
	content: '';
	display: table;
	width: 100%;
	clear: both;

}

div{
	box-sizing: border-box;
}

header {
	background: url(../img/first-bg.jpg); //no-repeat center top / cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 100vh;
}


.container{
	width: 930px;
	margin: 0 auto;
}

.logo{
	margin-top: 41px;
	float: left;
}

nav{
	float: right;
	margin-top: 50px;
}

.menu{
	padding: 0;
	margin: 0;
	display: block;
}

.menu li{
	float: left;
	margin-right: 41px;
	font-size: 18px;
	display: block;

}

.menu li a{
	color: #f36f26;//#fff;

	text-decoration: none;
	text-transform: uppercase;
}

h1{
	font-size: 50px;
	color: #fff;
	margin-top: 180px;
	text-align: center;
}
.welcome_title{
	font-size: 40px;
	color: #fff;
	text-align: center;
}

.main_button{
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	width: 240px;
	padding-top:20px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-left:0px;
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;

}
.title{
	padding-top: 60px;

}
h2{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0;
}

.title p{
	color: #7777777;
	text-align: center;
	font-size: 16px;
	margin-top: 0;
} 

#services{
	padding-top: 30px;
	padding-bottom: 300px;
}

.services{
	margin-top: 10px;
}

.service{
	width: 220px;
	float: left;
	text-align: center;

}

.service h3{
	font-size: 18px;
	margin-bottom: 5px;   
}

.service p{
	color: #777777;
	font-size: 14px;
}

.service:last-child{
	float: right;
}

.service:nth-child(3){
	margin-left: 20px;	
}

#customers{
	background: #f7f7f7;
	padding-bottom: 120px; 
}

.clients img:nth-child(2){
	margin-left: 29px;

}
.clients img:last-child{
		float: right;
} 



#footer{
	padding-top: 7px;
	padding-bottom: 7px;
	background:  #262626;
}

#footer p{
	font-size: 12px;
	text-align: center;
	color: #fff;

}